<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!--Main class-->
    <bean id="mainApp" class="com.kurdov.task4.replacement_with_key.App"
          p:encoder-ref="encoder"
          p:fileDataService-ref="fileDataService"/>

    <bean id="encoder" class="com.kurdov.task4.replacement_with_key.encoder.Encoder"/>

    <bean id="fileDataService" class="com.kurdov.task4.replacement_with_key.data_store.FileDataService"/>

</beans>